@media (min-width: 1024px) { 
  #main {
    padding-top: 10%;
    font-size: 1.2em;
    overflow: hidden;
  }

  .main-image {
    width: 80%;
    max-width: 400px;
  }

  .child {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  #main .img-container {
    position: relative;
  }
}