@media (min-width: 1024px) {
  a {
    text-decoration: underline;
  }

  #main {
    padding-top: 10%;
    font-size: 1.2em;
    overflow: hidden;
  }

  #main .img-container {
    position: relative;
  }

  .main-image {
    width: 80%;
    max-width: 400px;
  }

  .child {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .text-lg {
    line-height: 3rem;
  }
}
